#-------------------------------------------------------------------------------
# Clock Periods
#-------------------------------------------------------------------------------

# Main E-link clock
NET "clock_p" TNM_NET = "TN_CLOCK";
TIMESPEC TS_clock = PERIOD "TN_CLOCK" 24.8 ns HIGH 50 %;

## MGT reference clocks
#NET "mgt_clk_p_i<0>" TNM_NET = "TN_MGT_CLK_0";
#TIMESPEC TS_mgt_clk_0 = PERIOD "TN_MGT_CLK_0" 12.36 ns HIGH 50 %;

NET "mgt_clk_p_i<1>" TNM_NET = "TN_MGT_CLK_1";
TIMESPEC TS_mgt_clk_1 = PERIOD "TN_MGT_CLK_1" 12.36 ns HIGH 50 %;

# CFGMCLK
NET "control_inst/led_control_inst/startup/async_clock_o" TNM_NET = "cfgmclk";
TIMESPEC TS_cfgmclk = PERIOD "cfgmclk" 12.5 ns HIGH 50 %;
TIMESPEC TS_clk_cfg_to_clk_logic = FROM "cfgmclk" TO FFS TIG ;

#-------------------------------------------------------------------------------
# MGT Keepout
#-------------------------------------------------------------------------------

# create a closed group around the mgts to keep out extra trigger logic
INST "*trigger_data_phy*" AREA_GROUP=MGT_GROUP;
AREA_GROUP "MGT_GROUP" RANGE=SLICE_X80Y125:SLICE_X105Y159;
AREA_GROUP "MGT_GROUP" GROUP=CLOSED;
AREA_GROUP "MGT_GROUP" PLACE=CLOSED;

#-------------------------------------------------------------------------------
# CDC
#-------------------------------------------------------------------------------

#INST "*/s_resync_1" TNM = "resync_grp";
#TIMESPEC TS_SYNC = FROM  FFS TO "resync_grp" 2.5 ns;

#-------------------------------------------------------------------------------
# Random IO
#-------------------------------------------------------------------------------

TIMEGRP "led_o"       OFFSET = OUT 12.5 ns VALID 25 ns AFTER "clock_p" RISING;
TIMEGRP "ext_sbits_o" OFFSET = OUT 12.5 ns VALID 25 ns AFTER "clock_p" RISING;

NET "gbt_txready_i[0]" TNM = "async_inputs";
NET "gbt_rxvalid_i[0]" TNM = "async_inputs";
NET "gbt_rxready_i[0]" TNM = "async_inputs";

TIMEGRP "async_inputs" OFFSET = IN 12.5 ns VALID 25 ns BEFORE "clock_p" RISING;

#-------------------------------------------------------------------------------
# ISERDES
#-------------------------------------------------------------------------------

NET "vfat_sot_*"   TNM="iserdes_i_grp";
NET "vfat_sbits_*" TNM="iserdes_i_grp";
NET "elink_i_*"    TNM="iserdes_i_grp";
TIMEGRP iserdes_i_grp OFFSET = IN 3 ns VALID 3.125 ns BEFORE "clock_p" RISING;

INST "gbt_inst/gbt_serdes/gbt_oversample/ise1_*/iserdes_v6.iserdes" TNM = iserdes_grp;
INST "trigger_inst/sbits/*trig_alignment/trig_loop*_oversample/ise1_*/iserdes_v6.iserdes" TNM = iserdes_grp;
TIMESPEC TS_ISERDES = FROM "iserdes_grp" 3.0 ns DATAPATHONLY;
