#-------------------------------------------------------------------------------
# Clock Periods
#-------------------------------------------------------------------------------

# Main E-link clock
NET "clock_p" TNM_NET = "TN_CLOCK";
TIMESPEC TS_clock = PERIOD "TN_CLOCK" 24.8 ns HIGH 50 %;

## MGT reference clocks
#NET "mgt_clk_p_i<0>" TNM_NET = "TN_MGT_CLK_0";
#TIMESPEC TS_mgt_clk_0 = PERIOD "TN_MGT_CLK_0" 12.36 ns HIGH 50 %;

NET "mgt_clk_p_i<1>" TNM_NET = "TN_MGT_CLK_1";
TIMESPEC TS_mgt_clk_1 = PERIOD "TN_MGT_CLK_1" 12.36 ns HIGH 50 %;

# CFGMCLK
NET "control_inst/led_control_inst/startup/async_clock_o" TNM_NET = "cfgmclk";
TIMESPEC TS_cfgmclk = PERIOD "cfgmclk" 12.5 ns HIGH 50 %;
TIMESPEC TS_clk_cfg_to_clk_logic = FROM "cfgmclk" TO FFS TIG ;


# create a closed group around the mgts to keep out extra trigger logic
INST "*trigger_data_phy*" AREA_GROUP=MGT_GROUP;
AREA_GROUP "MGT_GROUP" RANGE=SLICE_X98Y120:SLICE_X105Y179;
AREA_GROUP "MGT_GROUP" GROUP=CLOSED;
AREA_GROUP "MGT_GROUP" PLACE=CLOSED;

#-------------------------------------------------------------------------------
# CDC
#-------------------------------------------------------------------------------

#INST "*/s_resync_1" TNM = "resync_grp";
#TIMESPEC TS_SYNC = FROM  FFS TO "resync_grp" 2.5 ns;

#-------------------------------------------------------------------------------
# Random IO
#-------------------------------------------------------------------------------

TIMEGRP "led_o"       OFFSET = OUT 12.5 ns VALID 25 ns AFTER "clock_p" RISING;
TIMEGRP "ext_sbits_o" OFFSET = OUT 12.5 ns VALID 25 ns AFTER "clock_p" RISING;

NET "gbt_txready_i[0]" TNM = "async_inputs";
NET "gbt_rxvalid_i[0]" TNM = "async_inputs";
NET "gbt_rxready_i[0]" TNM = "async_inputs";

TIMEGRP "async_inputs" OFFSET = IN 12.5 ns VALID 25 ns BEFORE "clock_p" RISING;


TIMEGRP "sbit_i_grp" OFFSET = IN 3 ns VALID 3.125 ns BEFORE "clock_p" RISING;

########################################################################################################################
# GBT Status
########################################################################################################################
# v_diff_k_13_p
# R_side_2_n
# R_side_2_p
NET "gbt_txready_i[0]" TNM = "gbt_status_grp";
NET "gbt_rxvalid_i[0]" TNM = "gbt_status_grp";
NET "gbt_rxready_i[0]" TNM = "gbt_status_grp";

TIMEGRP "gbt_status_grp" OFFSET = IN 12.5 ns VALID 25 ns BEFORE "clock_p" RISING;
########################################################################################################################
# GBT TIG
########################################################################################################################

# Output
INST "elink_o_p" TNM = "elink_o_grp";
INST "elink_o_n" TNM = "elink_o_grp";
INST "gbt*/gbt_serdes*/to_gbt_ser*/*" TNM = "elink_o_serdes_grp";

TIMESPEC TS_ELINK_O_TIG = FROM "elink_o_serdes_grp" TO "elink_o_grp" TIG ;

# Input
INST "elink_i_p" TNM = "elink_i_grp";
INST "elink_i_n" TNM = "elink_i_grp";
INST "gbt*/gbt_serdes*/*oversample/ise1*/*" TNM = "elink_i_serdes_grp";

TIMESPEC TS_GBT_IOTIG = FROM "elink_i_grp" TO "elink_i_serdes_grp" TIG ;
