Projects
VivadoProject
site
vivado*
bin
*~
*.pyc
.cxl.ip/
cxl_error.log
*.DS_Store
sim_build
hdl-prj.json

/gem/ip/*/*
/csc/ip/*/*
/boards/*/ip/*/*
/boards/*/ip/*/*/*
!/boards/*/ip/virtex/*
!/boards/*/ip/kintex/*
/common/ip/*/*

!*.xci
!*.xcix
!*.prj

**/ip_custom/*/drivers
**/ip_custom/*/example_designs
**/ip_custom/*/src/*/*
!**/ip_custom/*/src/*/*.xci

/ge11_ctp7.gen

/scripts/befe_config.py
/scripts/results
.write_bitstream.error.rst
scripts/gem/me0_lpgbt/queso_testing/results/
scripts/gem/results/
webtalk.log
webtalk_17138.backup.log
webtalk_2434.backup.log
webtalk_70541.backup.log

/scripts/gem/run.sh


*.so

/boards/*/bd/*
!/boards/*/bd/*/
/boards/*/bd/*/*
!*.bd
!*.src

generated

*.bak
*.bak*
*.swp
*.*~
*.o
.Xil

/releases

sigasi*
scratch

.idea
.vscode/*
