/common/ip/*/*.xci filter=reset_common_xci_fpga_type
/gem/ip/*/*.xci filter=reset_common_xci_fpga_type
/csc/ip/*/*.xci filter=reset_common_xci_fpga_type
scripts/resources/lpgbt_calibration.csv filter=lfs diff=lfs merge=lfs -text
