Projects
VivadoProject
site
vivado*
bin
*~
planAhead.ngc2edif.log
IP_repository/null/pa_index.xml
IP_repository/null/xil_index.xml
*.pyc
.cxl.ip/
cxl_error.log
*.DS_Store
sim_build
hdl-prj.json

/gem/ip/*/*
/csc/ip/*/*
/boards/*/ip/*/*
/boards/*/ip/*/*/*
!/boards/*/ip/virtex/*
!/boards/*/ip/kintex/*
/common/ip/*/*

!*.xci
!*.xcix
!*.prj

**/ip_custom/*/drivers
**/ip_custom/*/example_designs
**/ip_custom/*/src/*/*
!**/ip_custom/*/src/*/*.xci

/ge11_ctp7.gen

/scripts/befe_config.py
/scripts/results

*.so

/boards/*/bd/*
!/boards/*/bd/*/
/boards/*/bd/*/*
!*.bd
!*.src

generated

*.bak
*.bak*
*.swp
*.*~
*.o
.Xil

/releases

sigasi*
scratch

.idea
