[submodule "regtools"]
	path = regtools
	url = https://github.com/andrewpeck/regtools.git
[submodule "Hog"]
	path = Hog
	url = https://gitlab.cern.ch/hog/Hog.git
[submodule "scripts/ext/python-prompt-toolkit"]
	path = scripts/ext/python-prompt-toolkit
	url = https://github.com/prompt-toolkit/python-prompt-toolkit.git
[submodule "tcds2"]
	path = tcds2
	url = ssh://git@gitlab.cern.ch:7999/cms-tcds/cms-tcds2-firmware.git
[submodule "tclink"]
	path = tclink
	url = https://gitlab.cern.ch/HPTD/tclink.git
