[filter "reset_common_xci_fpga_type"]
	smudge = sed \"s/FAMILY\\\">.*</FAMILY\\\">virtexuplus</\" | sed \"s/PROJECT_PARAM.ARCHITECTURE\\\">.*</PROJECT_PARAM.ARCHITECTURE\\\">virtexuplus</\" | sed \"s/PROJECT_PARAM.DEVICE\\\">.*</PROJECT_PARAM.DEVICE\\\">xcvu13p</\" | sed \"s/PROJECT_PARAM.PACKAGE\\\">.*</PROJECT_PARAM.PACKAGE\\\">figd2104</\" | sed \"s/TEMPERATURE_GRADE\\\".*>/TEMPERATURE_GRADE\\\">E<\\/spirit:configurableElementValue>/\"
	clean = sed \"s/FAMILY\\\">.*</FAMILY\\\">virtexuplus</\" | sed \"s/PROJECT_PARAM.ARCHITECTURE\\\">.*</PROJECT_PARAM.ARCHITECTURE\\\">virtexuplus</\" | sed \"s/PROJECT_PARAM.DEVICE\\\">.*</PROJECT_PARAM.DEVICE\\\">xcvu13p</\" | sed \"s/PROJECT_PARAM.PACKAGE\\\">.*</PROJECT_PARAM.PACKAGE\\\">figd2104</\" | sed \"s/TEMPERATURE_GRADE\\\".*>/TEMPERATURE_GRADE\\\">E<\\/spirit:configurableElementValue>/\"
